language: python

# https://cloud.google.com/storage/docs/gsutil_install#alt-install
python:
  - "2.7"

# https://docs.travis-ci.com/user/customizing-the-build/#Skipping-the-Installation-Step
install: true

branches:
  only:
    - master

before_install:
  - export CLOUD_SDK_REPO="cloud-sdk-$(lsb_release -c -s)"
  - echo "deb https://packages.cloud.google.com/apt $CLOUD_SDK_REPO main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
  - curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
  - sudo apt-get update && sudo apt-get install -y google-cloud-sdk
  # https://github.com/travis-ci/travis-ci/issues/7940#issuecomment-310759657
  - sudo rm -f /etc/boto.cfg
  - gcloud --version

before_script:
   - openssl aes-256-cbc -K $encrypted_ad2dd71ccaf7_key -iv $encrypted_ad2dd71ccaf7_iv -in travis-cigrowbit-52554fcb00cd.json.enc -out travis-cigrowbit-52554fcb00cd.json -d
   - gcloud auth activate-service-account "travis-ci@growbit-0.iam.gserviceaccount.com" --key-file=travis-cigrowbit-52554fcb00cd.json
   - gcloud config set project growbit-0

script:
  - cd html5up-stellar
  - gsutil -m -h "Cache-Control:public, max-age=3600" cp -R . gs://www.growbit.xyz/
  - gcloud compute url-maps invalidate-cdn-cache growingabit-io --path "/*"
